#pattern  filter=crypt diff=crypt merge=crypt

# Clear flag for .gitattributes
.gitattributes  -filter -diff   -merge

secret/**   filter=crypt    diff=crypt  merge=crypt
secret/README.md    -filter -diff   -merge
