{
  "$schema": "https://app.kilo.ai/config.json",
  "permission": {
    "bash": "allow",
  },
  "model": "openrouter/deepseek/deepseek-v4-pro",
  "small_model": "openrouter/deepseek/deepseek-v4-flash",
  "agent": {
    "orchestrator": {
      "disable": true,
      "hidden": false,
    },
  },
  "layout": "auto",
  "share": "auto",
  "remote_control": true,
  "compaction": {
    "auto": true,
    "prune": true,
    "context_percent": 70,
  },
  "experimental": {
    "batch_tool": true,
    "codebase_search": false,
    "agent_manager_tool": true,
    "openTelemetry": true,
    "mcp_timeout": 30000,
  },
  "mcp": {
    "talivy": {
      "type": "remote",
      "url": "https://mcp.tavily.com/mcp",
      "headers": {
        "Authorization": "Bearer {env:TAVILY_API_TOKEN}",
        "DEFAULT_PARAMETERS": "{\"include_images\":true, \"search_depth\": \"basic\", \"max_results\": 16}",
      },
      "enabled": true,
    },
    "firecrawl": {
      "type": "remote",
      "url": "https://mcp.firecrawl.dev/{env:FIRECRAWL_API_TOKEN}/v2/mcp",
      "enabled": true,
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{env:CONTEXT7_API_TOKEN}",
      },
      "enabled": true,
    },
    "exa": {
      "type": "remote",
      "url": "https://mcp.exa.ai/mcp",
      "headers": {
        "X-API-KEY": "{env:EXA_SEARCH_API_TOKEN}",
      },
      "enabled": false,
    },
    // Conditionals for time MCP {{- if lookPath "uvx" }}
    "time": {
      "type": "local",
      "command": ["uvx", "mcp-server-time"],
      "enabled": true,
      "timeout": 10000,
    },
    // {{ end -}} Conditionals end
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp/",
      "headers": {
        "Authorization": "Bearer {env:GITHUB_TOKEN}",
      },
      "enabled": true,
    },
    "mdn": {
      "type": "remote",
      "url": "https://mcp.mdn.mozilla.net/",
      "enabled": false,
    },
  },
  "provider": {
    "openrouter": {
      "options": {
        "apiKey": "{env:OPENROUTER_API_KILO_CLI}",
      },
      "models": {
        "deepseek/deepseek-v4-flash": {
          "options": {
            "provider": {
              "only": ["deepseek"],
              "order": ["deepseek"],
            },
            "reasoning": {
              "effort": "high",
            },
          },
        },
        "deepseek/deepseek-v4-pro": {
          "options": {
            "provider": {
              "only": ["deepseek"],
              "order": ["deepseek"],
            },
            "reasoning": {
              "effort": "medium",
            },
          },
        },
        "google/gemini-3.1-flash-lite": {
          "options": {
            "service_tier": "flex",
          },
        },
        "openai/gpt-oss-120b": {
          "options": {
            "reasoning": {
              "effort": "high",
            },
          },
        },
      },
    },
    "deepseek": {
      "options": {
        "apiKey": "{env:DEEPSEEK_API_KILO}",
      },
    },
    "inception":{
      "options": {
        "apiKey": "{env:INCEPTION_API}"
      }
    },
    "voyage":{
      "options": {
        "apiKey": "{env:VOYAGE_API}"
      }
    }
  },
  "indexing": {
    "model": "qwen/qwen3-embedding-8b",
    "dimension": 2560,
    "provider": "openrouter",
    "openrouter": {
      "apiKey": "{env:OPENROUTER_API_KILO_INDEX}",
      "specificProvider": "nebius",
    },
    "lancedb": {
      "directory": "/home/ardhinata/.cache/kilo/index",
    },
    "searchMinScore": 0.5,
    "searchMaxResults": 16,
    "embeddingBatchSize": 100,
    "scannerMaxBatchRetries": 5,
  },
  "subagent_model": "openrouter/deepseek/deepseek-v4-flash",
  "instructions": ["{{ .chezmoi.homeDir }}/.config/kilo/rules/*.md"],
}
