openapi: 3.1.0
info:
  contact:
    email: support@openrouter.ai
    name: OpenRouter Support
    url: https://openrouter.ai/docs
  description: OpenAI-compatible API with additional OpenRouter features
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: OpenRouter API
  version: 1.0.0
servers:
- description: Production server
  url: https://openrouter.ai/api/v1
  x-speakeasy-server-id: production
security:
- apiKey: []
tags:
- description: API key management endpoints
  name: API Keys
- description: Analytics and usage endpoints
  name: Analytics
- description: Anthropic Messages endpoints
  name: Anthropic Messages
- description: BYOK endpoints
  name: BYOK
- description: Benchmarks endpoints
  name: Benchmarks
- description: Chat completion endpoints
  name: Chat
- description: Task classification market-share endpoints
  name: Classifications
- description: Credit management endpoints
  name: Credits
- description: 'Public OpenRouter usage datasets. Data returned by these endpoints is licensed under CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/): reuse and republish it, including commercially,
    with attribution to OpenRouter.'
  name: Datasets
- description: Text embedding endpoints
  name: Embeddings
- description: Endpoint information
  name: Endpoints
- description: Files endpoints
  name: Files
- description: Generation history endpoints
  name: Generations
- description: Guardrails endpoints
  name: Guardrails
- description: Images endpoints
  name: Images
- description: Model information endpoints
  name: Models
- description: OAuth authentication endpoints
  name: OAuth
- description: Observability endpoints
  name: Observability
- description: Organization endpoints
  name: Organization
- description: Presets endpoints
  name: Presets
- description: Provider information endpoints
  name: Providers
- description: Rerank endpoints
  name: Rerank
- description: OpenAI-compatible Responses API endpoints
  name: Responses
- description: SCIM endpoints
  name: SCIM
- description: Speech-to-text endpoints
  name: STT
  x-displayName: Transcriptions
- description: Text-to-speech endpoints
  name: TTS
  x-displayName: Speech
- description: Video Generation endpoints
  name: Video Generation
- description: Workspaces endpoints
  name: Workspaces
- name: beta.responses
  description: Deprecated alias of responses. Use responses instead; scheduled for removal (sunset date TBD).
externalDocs:
  description: OpenRouter Documentation
  url: https://openrouter.ai/docs
paths:
  /benchmarks:
    get:
      description: Unified benchmark endpoint that aggregates scores from multiple benchmark sources (Artificial Analysis, Design Arena, and OpenRouter's own tau-bench, GPQA, and web-search evals). Filter
        by source to reproduce the exact shapes from the legacy per-source endpoints, or use task_type to find models suited for specific workloads. Use task_type=search (or a search_* benchmark_type) for
        OpenRouter's search benchmarks, which publish each model's highest-scoring eligible evaluation configuration with same-configuration runs combined by task-weighted mean. Authenticate with any valid
        OpenRouter API key. Rate-limited to 30 requests/minute per key and 500 requests/day per account.
      operationId: getBenchmarks
      parameters:
      - description: Benchmark source to query. Determines the shape of the returned items. When omitted, returns results from all sources.
        in: query
        name: source
        required: false
        schema:
          description: Benchmark source to query. Determines the shape of the returned items. When omitted, returns results from all sources.
          enum:
          - artificial-analysis
          - design-arena
          - openrouter
          example: artificial-analysis
          type: string
          x-speakeasy-unknown-values: allow
      - description: Filter results by task type. For Artificial Analysis, maps to the corresponding index. For Design Arena, maps to the matching category. `search` returns OpenRouter search benchmark
          results only.
        in: query
        name: task_type
        required: false
        schema:
          description: Filter results by task type. For Artificial Analysis, maps to the corresponding index. For Design Arena, maps to the matching category. `search` returns OpenRouter search benchmark
            results only.
          enum:
          - coding
          - intelligence
          - agentic
          - search
          example: coding
          type: string
          x-speakeasy-unknown-values: allow
      - description: Return results for one exact OpenRouter benchmark. A `search_*` value narrows the response to search results only; a classic value narrows the OpenRouter items and leaves other sources'
          items as they are.
        in: query
        name: benchmark_type
        required: false
        schema:
          description: Return results for one exact OpenRouter benchmark. A `search_*` value narrows the response to search results only; a classic value narrows the OpenRouter items and leaves other sources'
            items as they are.
          enum:
          - gpqa_diamond
          - tau_bench_verified_airline
          - search_browsecomp
          - search_hle
          - search_dsqa
          - search_widesearch
          example: search_widesearch
          type: string
          x-speakeasy-unknown-values: allow
      - description: 'Search benchmarks only: include the published lane configuration whitelist in each search item. Defaults to false. The whitelist is limited to agent turn count, reasoning effort, and
          temperature so future harness configuration changes do not change the public contract.'
        in: query
        name: include_run_config
        required: false
        schema:
          default: false
          description: 'Search benchmarks only: include the published lane configuration whitelist in each search item. Defaults to false. The whitelist is limited to agent turn count, reasoning effort,
            and temperature so future harness configuration changes do not change the public contract.'
          example: true
          type: boolean
      - description: 'OpenRouter search benchmarks only: filter by the search engine used.'
        in: query
        name: search_engine
        required: false
        schema:
          description: 'OpenRouter search benchmarks only: filter by the search engine used.'
          example: exa
          type: string
      - description: 'OpenRouter search benchmarks only: filter by the request surface the lane ran on.'
        in: query
        name: search_surface
        required: false
        schema:
          description: 'OpenRouter search benchmarks only: filter by the request surface the lane ran on.'
          enum:
          - server-tool
          - plugin
          example: server-tool
          type: string
          x-speakeasy-unknown-values: allow
      - description: 'Design Arena only: arena to query. Defaults to `models` when source is `design-arena`.'
        in: query
        name: arena
        required: false
        schema:
          description: 'Design Arena only: arena to query. Defaults to `models` when source is `design-arena`.'
          enum:
          - models
          - builders
          - agents
          example: models
          type: string
          x-speakeasy-unknown-values: allow
      - description: 'Design Arena only: category within the arena (e.g. `codecategories`, `uicomponent`, `gamedev`, `3d`, `dataviz`, `image`, `video`, `svg`). When omitted, returns all categories.'
        in: query
        name: category
        required: false
        schema:
          description: 'Design Arena only: category within the arena (e.g. `codecategories`, `uicomponent`, `gamedev`, `3d`, `dataviz`, `image`, `video`, `svg`). When omitted, returns all categories.'
          example: codecategories
          type: string
      - description: Maximum number of items to return. When omitted, all matching results are returned.
        in: query
        name: max_results
        required: false
        schema:
          description: Maximum number of items to return. When omitted, all matching results are returned.
          example: 50
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - agentic_index: 58.3
                  coding_index: 65.8
                  display_name: GPT-4o
                  intelligence_index: 71.2
                  model_permaslug: openai/gpt-4o
                  pricing:
                    completion: '0.00001'
                    prompt: '0.0000025'
                  source: artificial-analysis
                - accuracy: 0.72
                  accuracy_stddev: 0.03
                  avg_cost_per_task: 0.002
                  benchmark_type: gpqa_diamond
                  display_name: GPT-4o
                  last_run_timestamp: '2026-06-03T12:00:00Z'
                  model_permaslug: openai/gpt-4o
                  source: openrouter
                  total_tasks: 300
                meta:
                  as_of: '2026-06-03T12:00:00Z'
                  citation: null
                  model_count: 1
                  source: null
                  source_url: null
                  task_type: null
                  version: v1
              schema:
                $ref: '#/components/schemas/UnifiedBenchmarksResponse'
          description: Benchmark results filtered by the specified source and optional task type.
        '400':
          content:
            application/json:
              example:
                error:
                  code: 400
                  message: Invalid request parameters
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request - Invalid request parameters or malformed input
        '401':
          content:
            application/json:
              example:
                error:
                  code: 401
                  message: Missing Authentication header
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized - Authentication required or invalid credentials
        '429':
          content:
            application/json:
              example:
                error:
                  code: 429
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too Many Requests - Rate limit exceeded
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: List Benchmarks
      tags:
      - Benchmarks
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /classifications/task:
    get:
      description: 'Returns the market-share breakdown of OpenRouter traffic by task classification

        (e.g. code generation, web search, summarization) over a trailing time window.


        Each classification reports its share of classified sampled requests (`usage_share`)

        and classified sampled token volume (`token_share`) as fractions between 0 and 1.

        The unclassified `other` bucket is excluded. Absolute volumes are not exposed

        because the underlying data is sampled.


        Each classification also includes a `models` array listing the top models by

        request volume within that classification, with their within-tag usage and token shares.


        Classifications are grouped into macro-categories (Code, Data, Agent, General)

        with aggregate shares provided for each.


        Authenticate with any valid OpenRouter API key (same key used for inference).

        Rate-limited to 30 requests/minute per key and 500 requests/day per account.


        When republishing or quoting this data, cite as:

        "Source: OpenRouter (openrouter.ai/rankings), as of {as_of}."'
      operationId: getTaskClassifications
      parameters:
      - description: Trailing time window for the classification data. Currently only `7d` (trailing 7 days) is supported.
        in: query
        name: window
        required: false
        schema:
          default: 7d
          description: Trailing time window for the classification data. Currently only `7d` (trailing 7 days) is supported.
          enum:
          - 7d
          example: 7d
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                  as_of: '2026-06-17'
                  classifications:
                  - category_token_share: 0.48
                    category_usage_share: 0.51
                    display_name: Code Generation
                    macro_category: code
                    models:
                    - id: openai/gpt-4.1-mini
                      tag_token_share: 0.75
                      tag_usage_share: 0.55
                    tag: code:general_impl
                    token_share: 0.31
                    usage_share: 0.23
                  macro_categories:
                  - key: code
                    label: Code
                    token_share: 0.52
                    usage_share: 0.45
                  window_days: 7
              schema:
                $ref: '#/components/schemas/TaskClassificationResponse'
          description: Task classification market-share data for the requested trailing window.
        '400':
          content:
            application/json:
              example:
                error:
                  code: 400
                  message: Invalid request parameters
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request - Invalid request parameters or malformed input
        '401':
          content:
            application/json:
              example:
                error:
                  code: 401
                  message: Missing Authentication header
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized - Authentication required or invalid credentials
        '429':
          content:
            application/json:
              example:
                error:
                  code: 429
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too Many Requests - Rate limit exceeded
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: Task classification market share
      tags:
      - Classifications
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /datasets/app-rankings:
    get:
      description: "Returns the top public apps on OpenRouter ranked by token usage inside the requested\ndate window, matching the public apps marketplace on openrouter.ai/apps. Token totals\nare `prompt_tokens\
        \ + completion_tokens`; hidden and private apps are excluded and\ntraffic from related app aliases is merged into the canonical visible app.\n\n`sort=popular` (default) ranks by total token volume\
        \ inside the window.\n`sort=trending` ranks by absolute excess token growth: window volume minus the average\nvolume of the three equal-length periods immediately preceding the window. Apps with\n\
        no excess growth are omitted, so `trending` may return fewer than `limit` rows.\n\nFilter with `category` (marketplace category group, e.g. `coding`) or `subcategory`\n(e.g. `cli-agent`). Ranks\
        \ are re-numbered 1..N after filtering. Page with `offset` \u2014\n`rank` stays absolute, so the first row of `offset=50` is `rank: 51`.\n\nAuthenticate with any valid OpenRouter API key (same key\
        \ used for inference).\nRate-limited to 30 requests/minute per key and 500 requests/day per account.\n\nWhen republishing or quoting this dataset, OpenRouter must be cited as:\n\"Source: OpenRouter\
        \ (openrouter.ai/apps), as of {as_of}.\"\n\nToken counts come from each upstream provider's own tokenizer, so a token attributed\nto one app is not directly comparable to a token attributed to another\
        \ app whose\ntraffic flows through a different provider.\n\nLicensed under [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/): reuse and republish with attribution to OpenRouter."
      operationId: getAppRankings
      parameters:
      - description: "Marketplace category group to filter by (e.g. `coding`). Only apps tagged with a subcategory inside this group are returned. Mutually combinable with `subcategory` \u2014 when both\
          \ are supplied the `subcategory` must belong to the `category` group."
        in: query
        name: category
        required: false
        schema:
          description: "Marketplace category group to filter by (e.g. `coding`). Only apps tagged with a subcategory inside this group are returned. Mutually combinable with `subcategory` \u2014 when both\
            \ are supplied the `subcategory` must belong to the `category` group."
          enum:
          - coding
          - creative
          - productivity
          - entertainment
          example: coding
          type: string
          x-speakeasy-unknown-values: allow
      - description: Marketplace subcategory to filter by (e.g. `cli-agent`). Takes precedence over `category` for the actual filter; when `category` is also supplied the pair must be consistent.
        in: query
        name: subcategory
        required: false
        schema:
          description: Marketplace subcategory to filter by (e.g. `cli-agent`). Takes precedence over `category` for the actual filter; when `category` is also supplied the pair must be consistent.
          enum:
          - cli-agent
          - ide-extension
          - cloud-agent
          - programming-app
          - native-app-builder
          - creative-writing
          - video-gen
          - image-gen
          - audio-gen
          - roleplay
          - game
          - writing-assistant
          - general-chat
          - personal-agent
          - legal
          example: cli-agent
          type: string
          x-speakeasy-unknown-values: allow
      - description: '`popular` ranks apps by total token volume inside the date window. `trending` ranks apps by absolute excess token growth: window volume minus the average volume of the three equal-length
          periods immediately preceding the window. Apps with no excess growth are omitted from `trending` results.'
        in: query
        name: sort
        required: false
        schema:
          default: popular
          description: '`popular` ranks apps by total token volume inside the date window. `trending` ranks apps by absolute excess token growth: window volume minus the average volume of the three equal-length
            periods immediately preceding the window. Apps with no excess growth are omitted from `trending` results.'
          enum:
          - popular
          - trending
          example: popular
          type: string
          x-speakeasy-unknown-values: allow
      - description: Start of the date window in YYYY-MM-DD (UTC), inclusive. Defaults to 30 days before `end_date`. The dataset begins at 2025-01-01; earlier values are clamped forward to that floor and
          the resolved value is echoed in `meta.start_date`.
        in: query
        name: start_date
        required: false
        schema:
          description: Start of the date window in YYYY-MM-DD (UTC), inclusive. Defaults to 30 days before `end_date`. The dataset begins at 2025-01-01; earlier values are clamped forward to that floor
            and the resolved value is echoed in `meta.start_date`.
          example: '2026-04-12'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: End of the date window in YYYY-MM-DD (UTC), inclusive. Defaults to the most recent completed UTC day. Must be on or after 2025-01-01; earlier values are rejected with a 400.
        in: query
        name: end_date
        required: false
        schema:
          description: End of the date window in YYYY-MM-DD (UTC), inclusive. Defaults to the most recent completed UTC day. Must be on or after 2025-01-01; earlier values are rejected with a 400.
          example: '2026-05-11'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Maximum number of apps to return (1-100). Defaults to 50.
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: Maximum number of apps to return (1-100). Defaults to 50.
          example: 50
          maximum: 100
          minimum: 1
          type: integer
      - description: 'Number of ranked apps to skip before the first returned row (0-100). Defaults to 0. `rank` stays absolute, so the first row of `offset=50` is `rank: 51`.'
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: 'Number of ranked apps to skip before the first returned row (0-100). Defaults to 0. `rank` stays absolute, so the first row of `offset=50` is `rank: 51`.'
          example: 0
          maximum: 100
          minimum: 0
          type:
          - integer
          - 'null'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - app_id: 12345
                  app_name: Cline
                  rank: 1
                  total_requests: 4321
                  total_tokens: '12345678'
                - app_id: 67890
                  app_name: Roo Code
                  rank: 2
                  total_requests: 2109
                  total_tokens: '9876543'
                meta:
                  as_of: '2026-05-12T02:00:00Z'
                  end_date: '2026-05-11'
                  start_date: '2026-04-12'
                  version: v1
              schema:
                $ref: '#/components/schemas/AppRankingsResponse'
          description: Apps ranked per the requested `sort`, re-numbered 1..N. `popular` sorts by `total_tokens` descending; `trending` sorts by absolute excess token growth descending and may return fewer
            than `limit` rows.
        '400':
          content:
            application/json:
              example:
                error:
                  code: 400
                  message: Invalid request parameters
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request - Invalid request parameters or malformed input
        '401':
          content:
            application/json:
              example:
                error:
                  code: 401
                  message: Missing Authentication header
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized - Authentication required or invalid credentials
        '429':
          content:
            application/json:
              example:
                error:
                  code: 429
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too Many Requests - Rate limit exceeded
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: Top apps by token usage
      tags:
      - Datasets
      x-speakeasy-pagination:
        inputs:
        - in: parameters
          name: offset
          type: offset
        - in: parameters
          name: limit
          type: limit
        outputs:
          results: $.data
        type: offsetLimit
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /datasets/rankings-daily:
    get:
      description: "Returns the top 50 public models per day by total token usage on OpenRouter, plus a\nsingle aggregated `other` row per day that sums every model outside that top 50.\nToken totals are\
        \ `prompt_tokens + completion_tokens`, matching the public rankings\nchart on openrouter.ai/rankings.\n\nEach row is a distinct `(date, model_permaslug)` pair. The `other` row uses the\nreserved\
        \ permaslug `other` and is always returned last within its date, so callers\ncan compute `top-50 traffic / total daily traffic` without a second request.\n\nOptional filters slice the dataset. `period`\
        \ (`day`/`week`/`month`) sets the time\ngrain. `modality` and `context_bucket` narrow the exact dataset by output/input\nmodality (or tool-calling activity) and request context length. `category`\
        \ and\n`language_type` instead read a sampled, upsampled dataset whose `total_tokens` are\nweekly-grain estimates \u2014 they cannot be combined with each other or with the exact\nfilters, and reject\
        \ `period=day` with a 400.\n\nAuthenticate with any valid OpenRouter API key (same key used for inference).\nRate-limited to 30 requests/minute per key and 500 requests/day per account.\n\nWhen\
        \ republishing or quoting this dataset, OpenRouter must be cited as:\n\"Source: OpenRouter (openrouter.ai/rankings), as of {as_of}.\"\n\nToken counts come from each upstream provider's own tokenizer\
        \ (Anthropic counts\nare as reported by Anthropic, OpenAI counts are as reported by OpenAI, etc.), so\na token in one row is not directly comparable to a token in another row from a\ndifferent provider.\n\
        \nLicensed under [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/): reuse and republish with attribution to OpenRouter."
      operationId: getRankingsDaily
      parameters:
      - description: Start of the date window in YYYY-MM-DD (UTC), inclusive. Defaults to 30 days before `end_date`. The dataset begins at 2025-01-01; earlier values are clamped forward to that floor and
          the resolved value is echoed in `meta.start_date`.
        in: query
        name: start_date
        required: false
        schema:
          description: Start of the date window in YYYY-MM-DD (UTC), inclusive. Defaults to 30 days before `end_date`. The dataset begins at 2025-01-01; earlier values are clamped forward to that floor
            and the resolved value is echoed in `meta.start_date`.
          example: '2026-04-12'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: End of the date window in YYYY-MM-DD (UTC), inclusive. Defaults to the most recent completed UTC day. Must be on or after 2025-01-01; earlier values are rejected with a 400.
        in: query
        name: end_date
        required: false
        schema:
          description: End of the date window in YYYY-MM-DD (UTC), inclusive. Defaults to the most recent completed UTC day. Must be on or after 2025-01-01; earlier values are rejected with a 400.
          example: '2026-05-11'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: "Time grain of each row. `day` (default) returns the per-UTC-day series; `week` buckets by ISO week start; `month` buckets by month start. With `category` or `language_type` only `week`\
          \ (default) and `month` are available \u2014 `day` is rejected with a 400 because those datasets are aggregated weekly. For those sampled datasets `period=month` buckets each week by its week-start\
          \ month, so totals are approximate at month boundaries."
        in: query
        name: period
        required: false
        schema:
          description: "Time grain of each row. `day` (default) returns the per-UTC-day series; `week` buckets by ISO week start; `month` buckets by month start. With `category` or `language_type` only\
            \ `week` (default) and `month` are available \u2014 `day` is rejected with a 400 because those datasets are aggregated weekly. For those sampled datasets `period=month` buckets each week by\
            \ its week-start month, so totals are approximate at month boundaries."
          enum:
          - day
          - week
          - month
          example: day
          type: string
          x-speakeasy-unknown-values: allow
      - description: "Restrict to models for a modality surface: `text` / `image_output` match output modality, `image` / `audio` match input modality, and `tool_calling` keeps only rows that recorded at\
          \ least one tool call. Exact dataset \u2014 cannot be combined with `category` or `language_type`."
        in: query
        name: modality
        required: false
        schema:
          description: "Restrict to models for a modality surface: `text` / `image_output` match output modality, `image` / `audio` match input modality, and `tool_calling` keeps only rows that recorded\
            \ at least one tool call. Exact dataset \u2014 cannot be combined with `category` or `language_type`."
          enum:
          - text
          - image
          - image_output
          - audio
          - tool_calling
          example: text
          type: string
          x-speakeasy-unknown-values: allow
      - description: "Restrict to requests whose context length falls in this bucket (`1K`, `10K`, `100K`, `1M`, or `10M`). Exact dataset \u2014 cannot be combined with `category` or `language_type`."
        in: query
        name: context_bucket
        required: false
        schema:
          description: "Restrict to requests whose context length falls in this bucket (`1K`, `10K`, `100K`, `1M`, or `10M`). Exact dataset \u2014 cannot be combined with `category` or `language_type`."
          enum:
          - 1K
          - 10K
          - 100K
          - 1M
          - 10M
          example: 100K
          type: string
          x-speakeasy-unknown-values: allow
      - description: Restrict to a use-case category (e.g. `programming`, `roleplay`). Sourced from a sampled, upsampled dataset, so `total_tokens` is an estimate and is aggregated weekly (the trailing
          weekly bucket may include traffic past `end_date`). Cannot be combined with `modality`, `context_bucket`, or `language_type`.
        in: query
        name: category
        required: false
        schema:
          description: Restrict to a use-case category (e.g. `programming`, `roleplay`). Sourced from a sampled, upsampled dataset, so `total_tokens` is an estimate and is aggregated weekly (the trailing
            weekly bucket may include traffic past `end_date`). Cannot be combined with `modality`, `context_bucket`, or `language_type`.
          enum:
          - programming
          - roleplay
          - marketing
          - marketing/seo
          - technology
          - science
          - translation
          - legal
          - finance
          - health
          - trivia
          - academia
          example: programming
          type: string
          x-speakeasy-unknown-values: allow
      - description: Restrict to natural-language or programming-language tagged activity. Sourced from a sampled, upsampled dataset, so `total_tokens` is an estimate and is aggregated weekly (the trailing
          weekly bucket may include traffic past `end_date`). Cannot be combined with `modality`, `context_bucket`, or `category`.
        in: query
        name: language_type
        required: false
        schema:
          description: Restrict to natural-language or programming-language tagged activity. Sourced from a sampled, upsampled dataset, so `total_tokens` is an estimate and is aggregated weekly (the trailing
            weekly bucket may include traffic past `end_date`). Cannot be combined with `modality`, `context_bucket`, or `category`.
          enum:
          - natural
          - programming
          example: natural
          type: string
          x-speakeasy-unknown-values: allow
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - date: '2026-05-11'
                  model_permaslug: openai/gpt-4o-2024-05-13
                  total_tokens: '12345678'
                - date: '2026-05-11'
                  model_permaslug: anthropic/claude-3.5-sonnet-20241022
                  total_tokens: '9876543'
                - date: '2026-05-11'
                  model_permaslug: other
                  total_tokens: '4321098'
                meta:
                  as_of: '2026-05-12T02:00:00Z'
                  end_date: '2026-05-11'
                  start_date: '2026-04-12'
                  version: v1
              schema:
                $ref: '#/components/schemas/RankingsDailyResponse'
          description: "Up to 51 rows per day \u2014 the top 50 public models by `total_tokens` plus a single aggregated `other` row covering every model outside that top 50. Sorted by `date` ascending,\
            \ then by `total_tokens` descending, with `other` pinned last within its date."
        '400':
          content:
            application/json:
              example:
                error:
                  code: 400
                  message: Invalid request parameters
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request - Invalid request parameters or malformed input
        '401':
          content:
            application/json:
              example:
                error:
                  code: 401
                  message: Missing Authentication header
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized - Authentication required or invalid credentials
        '429':
          content:
            application/json:
              example:
                error:
                  code: 429
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too Many Requests - Rate limit exceeded
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: Daily token totals for top 50 models
      tags:
      - Datasets
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /datasets/session-cost:
    get:
      description: 'Returns weekly refreshed, aggregated cost-per-session cells for the published harnesses.

        Sessions are never pooled across apps. Medians are of per-session USD spend, and

        privacy-preserving aggregation never exposes clerk_user_id values or per-session rows.


        Filter by `app_slug`, `model`, or `turn_range`. Filtering by `model` alone works across apps

        for harness-vs-harness comparison at a fixed model. Results refresh weekly and include the source snapshot

        window in `meta`.


        Licensed under [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/): reuse and republish with attribution to OpenRouter.'
      operationId: getSessionCost
      parameters:
      - description: Filter to one published harness slug.
        in: query
        name: app_slug
        required: false
        schema:
          description: Filter to one published harness slug.
          example: hermes-agent
          type: string
      - description: Exact model permaslug filter. Works across all harness apps.
        in: query
        name: model
        required: false
        schema:
          description: Exact model permaslug filter. Works across all harness apps.
          example: anthropic/claude-4.8-opus
          type: string
      - description: Filter by the inclusive number of turns in a session.
        in: query
        name: turn_range
        required: false
        schema:
          description: Filter by the inclusive number of turns in a session.
          enum:
          - 1-turn
          - 2-9-turns
          - 10-49-turns
          - 50-plus-turns
          example: 10-49-turns
          type: string
          x-speakeasy-unknown-values: allow
      - description: Maximum number of cells to return (1-500). Defaults to 100.
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: Maximum number of cells to return (1-500). Defaults to 100.
          example: 100
          maximum: 500
          minimum: 1
          type: integer
      - description: Number of sorted cells to skip (0-5000). Defaults to 0.
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: Number of sorted cells to skip (0-5000). Defaults to 0.
          example: 0
          maximum: 5000
          minimum: 0
          type:
          - integer
          - 'null'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - app_name: Hermes Agent
                  app_slug: hermes-agent
                  median_session_cost_usd: 1.74
                  model_permaslug: anthropic/claude-4.8-opus
                  turn_range: 10-49-turns
                meta:
                  as_of: '2026-05-12T02:00:00.000Z'
                  version: v1
                  window_days: 30
                  window_end_date: '2026-05-11'
              schema:
                $ref: '#/components/schemas/SessionCostResponse'
          description: Aggregated cost-per-session cells for the requested filters.
        '400':
          content:
            application/json:
              example:
                error:
                  code: 400
                  message: Invalid request parameters
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request - Invalid request parameters or malformed input
        '401':
          content:
            application/json:
              example:
                error:
                  code: 401
                  message: Missing Authentication header
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized - Authentication required or invalid credentials
        '429':
          content:
            application/json:
              example:
                error:
                  code: 429
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too Many Requests - Rate limit exceeded
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: Cost per session by harness and model
      tags:
      - Datasets
      x-speakeasy-pagination:
        inputs:
        - in: parameters
          name: offset
          type: offset
        - in: parameters
          name: limit
          type: limit
        outputs:
          results: $.data
        type: offsetLimit
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /endpoints/zdr:
    get:
      operationId: listEndpointsZdr
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - context_length: 8192
                  latency_last_30m:
                    p50: 0.25
                    p75: 0.35
                    p90: 0.48
                    p99: 0.85
                  max_completion_tokens: 4096
                  max_prompt_tokens: 8192
                  model_id: openai/gpt-4
                  model_name: GPT-4
                  name: 'OpenAI: GPT-4'
                  pricing:
                    completion: '0.00006'
                    image: '0'
                    prompt: '0.00003'
                    request: '0'
                  provider_name: OpenAI
                  quantization: fp16
                  status: 0
                  supported_parameters:
                  - temperature
                  - top_p
                  - max_tokens
                  supports_implicit_caching: true
                  supports_voice_cloning: false
                  tag: openai
                  throughput_last_30m:
                    p50: 45.2
                    p75: 38.5
                    p90: 28.3
                    p99: 15.1
                  uptime_last_1d: 99.8
                  uptime_last_30m: 99.5
                  uptime_last_5m: 100
              schema:
                example:
                  data:
                  - context_length: 8192
                    latency_last_30m:
                      p50: 0.25
                      p75: 0.35
                      p90: 0.48
                      p99: 0.85
                    max_completion_tokens: 4096
                    max_prompt_tokens: 8192
                    model_id: openai/gpt-4
                    model_name: GPT-4
                    name: 'OpenAI: GPT-4'
                    pricing:
                      completion: '0.00006'
                      image: '0'
                      prompt: '0.00003'
                      request: '0'
                    provider_name: OpenAI
                    quantization: fp16
                    status: 0
                    supported_parameters:
                    - temperature
                    - top_p
                    - max_tokens
                    supports_implicit_caching: true
                    supports_voice_cloning: false
                    tag: openai
                    throughput_last_30m:
                      p50: 45.2
                      p75: 38.5
                      p90: 28.3
                      p99: 15.1
                    uptime_last_1d: 99.8
                    uptime_last_30m: 99.5
                    uptime_last_5m: 100
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/PublicEndpoint'
                    type: array
                required:
                - data
                type: object
          description: Returns a list of endpoints
        '403':
          content:
            application/json:
              example:
                error:
                  code: 403
                  message: Only management keys can perform this operation
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden - Authentication successful but insufficient permissions
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: Preview the impact of ZDR on the available endpoints
      tags:
      - Endpoints
      x-speakeasy-name-override: listZdrEndpoints
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /model/{author}/{slug}:
    get:
      description: Returns full details for a single model identified by its author and slug (e.g. openai/gpt-4). Supports variant suffixes (e.g. openai/gpt-4:free) and resolves known slug aliases.
      operationId: getModel
      parameters:
      - description: The author/organization of the model
        in: path
        name: author
        required: true
        schema:
          description: The author/organization of the model
          example: openai
          type: string
      - description: The model slug, optionally including a variant suffix (e.g. gpt-4 or gpt-4:free)
        in: path
        name: slug
        required: true
        schema:
          description: The model slug, optionally including a variant suffix (e.g. gpt-4 or gpt-4:free)
          example: gpt-4
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                  architecture:
                    input_modalities:
                    - text
                    instruct_type: chatml
                    modality: text->text
                    output_modalities:
                    - text
                    tokenizer: GPT
                  canonical_slug: openai/gpt-4
                  context_length: 8192
                  created: 1692901234
                  default_parameters: null
                  description: GPT-4 is a large multimodal model that can solve difficult problems with greater accuracy.
                  expiration_date: null
                  id: openai/gpt-4
                  knowledge_cutoff: null
                  links:
                    details: /api/v1/models/openai/gpt-4/endpoints
                  name: GPT-4
                  per_request_limits: null
                  pricing:
                    completion: '0.00006'
                    image: '0'
                    prompt: '0.00003'
                    request: '0'
                  supported_parameters:
                  - temperature
                  - top_p
                  - max_tokens
                  supported_voices: null
                  top_provider:
                    context_length: 8192
                    is_moderated: true
                    max_completion_tokens: 4096
              schema:
                $ref: '#/components/schemas/ModelResponse'
          description: Returns the model details
        '403':
          content:
            application/json:
              example:
                error:
                  code: 403
                  message: Only management keys can perform this operation
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden - Authentication successful but insufficient permissions
        '404':
          content:
            application/json:
              example:
                error:
                  code: 404
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found - Resource does not exist
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: Get a model by its slug
      tags:
      - Models
      x-speakeasy-name-override: get
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /models:
    get:
      operationId: getModels
      parameters:
      - description: Number of records to skip for pagination. When both offset and limit are omitted, the full list is returned
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: Number of records to skip for pagination. When both offset and limit are omitted, the full list is returned
          example: 0
          minimum: 0
          type:
          - integer
          - 'null'
      - description: Maximum number of records to return (max 1000). When both offset and limit are omitted, the full list is returned
        in: query
        name: limit
        required: false
        schema:
          default: 500
          description: Maximum number of records to return (max 1000). When both offset and limit are omitted, the full list is returned
          example: 500
          maximum: 1000
          minimum: 1
          type: integer
      - description: Filter models by use case category
        in: query
        name: category
        required: false
        schema:
          description: Filter models by use case category
          enum:
          - programming
          - roleplay
          - marketing
          - marketing/seo
          - technology
          - science
          - translation
          - legal
          - finance
          - health
          - trivia
          - academia
          example: programming
          type: string
          x-speakeasy-unknown-values: allow
      - description: Filter models by supported parameter (comma-separated)
        in: query
        name: supported_parameters
        required: false
        schema:
          description: Filter models by supported parameter (comma-separated)
          example: temperature
          type: string
      - description: Filter models by output modality. Accepts a comma-separated list of modalities (text, image, audio, embeddings) or "all" to include all models. Defaults to "text".
        in: query
        name: output_modalities
        required: false
        schema:
          description: Filter models by output modality. Accepts a comma-separated list of modalities (text, image, audio, embeddings) or "all" to include all models. Defaults to "text".
          example: text
          type: string
      - description: 'Sort the returned models server-side. Prefer this over fetching the full list and sorting client-side. Options: pricing-low-to-high, pricing-high-to-low (average prompt/completion
          price), context-high-to-low (context length), throughput-high-to-low, latency-low-to-high (recent median performance), most-popular, top-weekly (tokens processed in the last week), newest (creation
          date), intelligence-high-to-low, coding-high-to-low, agentic-high-to-low (Artificial Analysis indices), design-arena-elo-high-to-low (best Design Arena ELO across arenas). Models without a score
          for the chosen benchmark are placed last. When omitted, the existing default ordering is preserved.'
        in: query
        name: sort
        required: false
        schema:
          description: 'Sort the returned models server-side. Prefer this over fetching the full list and sorting client-side. Options: pricing-low-to-high, pricing-high-to-low (average prompt/completion
            price), context-high-to-low (context length), throughput-high-to-low, latency-low-to-high (recent median performance), most-popular, top-weekly (tokens processed in the last week), newest (creation
            date), intelligence-high-to-low, coding-high-to-low, agentic-high-to-low (Artificial Analysis indices), design-arena-elo-high-to-low (best Design Arena ELO across arenas). Models without a score
            for the chosen benchmark are placed last. When omitted, the existing default ordering is preserved.'
          enum:
          - most-popular
          - newest
          - top-weekly
          - pricing-low-to-high
          - pricing-high-to-low
          - context-high-to-low
          - throughput-high-to-low
          - latency-low-to-high
          - intelligence-high-to-low
          - coding-high-to-low
          - agentic-high-to-low
          - design-arena-elo-high-to-low
          example: newest
          type: string
          x-speakeasy-unknown-values: allow
      - description: Free-text search by model name or slug.
        in: query
        name: q
        required: false
        schema:
          description: Free-text search by model name or slug.
          example: gpt-4
          type: string
      - description: 'Filter models by input modality. Comma-separated list of: text, image, audio, file.'
        in: query
        name: input_modalities
        required: false
        schema:
          description: 'Filter models by input modality. Comma-separated list of: text, image, audio, file.'
          example: text,image
          type: string
      - description: Minimum context length (tokens). Models with smaller context are excluded.
        in: query
        name: context
        required: false
        schema:
          description: Minimum context length (tokens). Models with smaller context are excluded.
          example: 128000
          minimum: 1
          type: integer
      - description: Minimum prompt price in $/M tokens.
        in: query
        name: min_price
        required: false
        schema:
          description: Minimum prompt price in $/M tokens.
          example: 0
          minimum: 0
          type:
          - number
          - 'null'
      - description: Maximum prompt price in $/M tokens.
        in: query
        name: max_price
        required: false
        schema:
          description: Maximum prompt price in $/M tokens.
          example: 10
          minimum: 0
          type:
          - number
          - 'null'
      - description: Filter models by architecture/model family (e.g. GPT, Claude, Gemini, Llama).
        in: query
        name: arch
        required: false
        schema:
          description: Filter models by architecture/model family (e.g. GPT, Claude, Gemini, Llama).
          example: GPT
          type: string
      - description: Filter models by the organization that created the model. Comma-separated list of author slugs.
        in: query
        name: model_authors
        required: false
        schema:
          description: Filter models by the organization that created the model. Comma-separated list of author slugs.
          example: openai,anthropic
          type: string
      - description: Filter models by hosting provider. Comma-separated list of provider names.
        in: query
        name: providers
        required: false
        schema:
          description: Filter models by hosting provider. Comma-separated list of provider names.
          example: OpenAI,Anthropic
          type: string
      - description: Filter by distillation capability. "true" returns only distillable models, "false" excludes them.
        in: query
        name: distillable
        required: false
        schema:
          description: Filter by distillation capability. "true" returns only distillable models, "false" excludes them.
          enum:
          - 'true'
          - 'false'
          example: 'true'
          type: string
          x-speakeasy-unknown-values: allow
      - description: When set to "true", return only models with zero data retention endpoints.
        in: query
        name: zdr
        required: false
        schema:
          description: When set to "true", return only models with zero data retention endpoints.
          enum:
          - 'true'
          example: 'true'
          type: string
      - description: Filter to models with endpoints in the given data region ("eu" or "us").
        in: query
        name: region
        required: false
        schema:
          description: Filter to models with endpoints in the given data region ("eu" or "us").
          enum:
          - eu
          - us
          example: eu
          type: string
          x-speakeasy-unknown-values: allow
      - description: Minimum completion (output) price in $/M tokens.
        in: query
        name: min_output_price
        required: false
        schema:
          description: Minimum completion (output) price in $/M tokens.
          example: 0
          minimum: 0
          type:
          - number
          - 'null'
      - description: Maximum completion (output) price in $/M tokens.
        in: query
        name: max_output_price
        required: false
        schema:
          description: Maximum completion (output) price in $/M tokens.
          example: 10
          minimum: 0
          type:
          - number
          - 'null'
      - description: Minimum model age in days since its creation date.
        in: query
        name: min_age_days
        required: false
        schema:
          description: Minimum model age in days since its creation date.
          example: 0
          minimum: 0
          type:
          - integer
          - 'null'
      - description: Maximum model age in days since its creation date.
        in: query
        name: max_age_days
        required: false
        schema:
          description: Maximum model age in days since its creation date.
          example: 90
          minimum: 0
          type:
          - integer
          - 'null'
      - description: Minimum Artificial Analysis intelligence index.
        in: query
        name: min_intelligence_index
        required: false
        schema:
          description: Minimum Artificial Analysis intelligence index.
          example: 50
          minimum: 0
          type:
          - number
          - 'null'
      - description: Maximum Artificial Analysis intelligence index.
        in: query
        name: max_intelligence_index
        required: false
        schema:
          description: Maximum Artificial Analysis intelligence index.
          example: 100
          minimum: 0
          type:
          - number
          - 'null'
      - description: Minimum Artificial Analysis coding index.
        in: query
        name: min_coding_index
        required: false
        schema:
          description: Minimum Artificial Analysis coding index.
          example: 50
          minimum: 0
          type:
          - number
          - 'null'
      - description: Maximum Artificial Analysis coding index.
        in: query
        name: max_coding_index
        required: false
        schema:
          description: Maximum Artificial Analysis coding index.
          example: 100
          minimum: 0
          type:
          - number
          - 'null'
      - description: Minimum Artificial Analysis agentic index.
        in: query
        name: min_agentic_index
        required: false
        schema:
          description: Minimum Artificial Analysis agentic index.
          example: 50
          minimum: 0
          type:
          - number
          - 'null'
      - description: Maximum Artificial Analysis agentic index.
        in: query
        name: max_agentic_index
        required: false
        schema:
          description: Maximum Artificial Analysis agentic index.
          example: 100
          minimum: 0
          type:
          - number
          - 'null'
      - description: Minimum tool-calling success rate, as a fraction in [0, 1] (e.g. 0.9 = 90% of requests finishing with a tool_calls finish reason).
        in: query
        name: min_tool_success_rate
        required: false
        schema:
          description: Minimum tool-calling success rate, as a fraction in [0, 1] (e.g. 0.9 = 90% of requests finishing with a tool_calls finish reason).
          example: 0.9
          maximum: 1
          minimum: 0
          type:
          - number
          - 'null'
      - description: Maximum tool-calling success rate, as a fraction in [0, 1].
        in: query
        name: max_tool_success_rate
        required: false
        schema:
          description: Maximum tool-calling success rate, as a fraction in [0, 1].
          example: 1
          maximum: 1
          minimum: 0
          type:
          - number
          - 'null'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - architecture:
                    input_modalities:
                    - text
                    instruct_type: chatml
                    modality: text->text
                    output_modalities:
                    - text
                    tokenizer: GPT
                  canonical_slug: openai/gpt-4
                  context_length: 8192
                  created: 1692901234
                  default_parameters: null
                  description: GPT-4 is a large multimodal model that can solve difficult problems with greater accuracy.
                  expiration_date: null
                  id: openai/gpt-4
                  knowledge_cutoff: null
                  links:
                    details: /api/v1/models/openai/gpt-4/endpoints
                  name: GPT-4
                  per_request_limits: null
                  pricing:
                    completion: '0.00006'
                    image: '0'
                    prompt: '0.00003'
                    request: '0'
                  supported_parameters:
                  - temperature
                  - top_p
                  - max_tokens
                  supported_voices: null
                  top_provider:
                    context_length: 8192
                    is_moderated: true
                    max_completion_tokens: 4096
              schema:
                $ref: '#/components/schemas/ModelsListResponse'
          description: Returns a list of models or RSS feed
        '400':
          content:
            application/json:
              example:
                error:
                  code: 400
                  message: Invalid request parameters
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request - Invalid request parameters or malformed input
        '403':
          content:
            application/json:
              example:
                error:
                  code: 403
                  message: Only management keys can perform this operation
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden - Authentication successful but insufficient permissions
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: List all models and their properties
      tags:
      - Models
      x-speakeasy-name-override: list
      x-speakeasy-pagination:
        inputs:
        - in: parameters
          name: offset
          type: offset
        - in: parameters
          name: limit
          type: limit
        outputs:
          results: $.data
        type: offsetLimit
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /models/{author}/{slug}/endpoints:
    get:
      operationId: listEndpoints
      parameters:
      - description: The author/organization of the model
        in: path
        name: author
        required: true
        schema:
          description: The author/organization of the model
          example: openai
          type: string
      - description: The model slug
        in: path
        name: slug
        required: true
        schema:
          description: The model slug
          example: gpt-4
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                  architecture:
                    input_modalities:
                    - text
                    instruct_type: chatml
                    modality: text->text
                    output_modalities:
                    - text
                    tokenizer: GPT
                  created: 1692901234
                  description: GPT-4 is a large multimodal model.
                  endpoints: []
                  id: openai/gpt-4
                  name: GPT-4
              schema:
                example:
                  data:
                    architecture:
                      input_modalities:
                      - text
                      instruct_type: chatml
                      modality: text->text
                      output_modalities:
                      - text
                      tokenizer: GPT
                    created: 1692901234
                    description: GPT-4 is a large multimodal model that can solve difficult problems with greater accuracy.
                    endpoints:
                    - context_length: 8192
                      latency_last_30m:
                        p50: 0.25
                        p75: 0.35
                        p90: 0.48
                        p99: 0.85
                      max_completion_tokens: 4096
                      max_prompt_tokens: 8192
                      model_id: openai/gpt-4
                      model_name: GPT-4
                      name: 'OpenAI: GPT-4'
                      pricing:
                        completion: '0.00006'
                        image: '0'
                        prompt: '0.00003'
                        request: '0'
                      provider_name: OpenAI
                      quantization: fp16
                      status: 0
                      supported_parameters:
                      - temperature
                      - top_p
                      - max_tokens
                      supports_implicit_caching: true
                      tag: openai
                      throughput_last_30m:
                        p50: 45.2
                        p75: 38.5
                        p90: 28.3
                        p99: 15.1
                      uptime_last_1d: 99.8
                      uptime_last_30m: 99.5
                      uptime_last_5m: 100
                    id: openai/gpt-4
                    name: GPT-4
                properties:
                  data:
                    $ref: '#/components/schemas/ListEndpointsResponse'
                required:
                - data
                type: object
          description: Returns a list of endpoints
        '403':
          content:
            application/json:
              example:
                error:
                  code: 403
                  message: Only management keys can perform this operation
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden - Authentication successful but insufficient permissions
        '404':
          content:
            application/json:
              example:
                error:
                  code: 404
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found - Resource does not exist
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: List all endpoints for a model
      tags:
      - Endpoints
      x-speakeasy-name-override: list
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /models/count:
    get:
      operationId: listModelsCount
      parameters:
      - description: Filter models by output modality. Accepts a comma-separated list of modalities (text, image, audio, embeddings) or "all" to include all models. Defaults to "text".
        in: query
        name: output_modalities
        required: false
        schema:
          description: Filter models by output modality. Accepts a comma-separated list of modalities (text, image, audio, embeddings) or "all" to include all models. Defaults to "text".
          example: text
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                  count: 150
              schema:
                $ref: '#/components/schemas/ModelsCountResponse'
          description: Returns the total count of available models
        '400':
          content:
            application/json:
              example:
                error:
                  code: 400
                  message: Invalid request parameters
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request - Invalid request parameters or malformed input
        '403':
          content:
            application/json:
              example:
                error:
                  code: 403
                  message: Only management keys can perform this operation
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden - Authentication successful but insufficient permissions
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: Get total count of available models
      tags:
      - Models
      x-speakeasy-name-override: count
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /models/user:
    get:
      description: List models filtered by user provider preferences, [privacy settings](https://openrouter.ai/docs/guides/privacy/provider-logging), and [guardrails](https://openrouter.ai/docs/guides/features/guardrails).
        If requesting through a regional hostname, the results will be filtered to models that satisfy in-region routing for that region.
      operationId: listModelsUser
      parameters:
      - description: Number of records to skip for pagination. When both offset and limit are omitted, the full list is returned
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: Number of records to skip for pagination. When both offset and limit are omitted, the full list is returned
          example: 0
          minimum: 0
          type:
          - integer
          - 'null'
      - description: Maximum number of records to return (max 1000). When both offset and limit are omitted, the full list is returned
        in: query
        name: limit
        required: false
        schema:
          default: 500
          description: Maximum number of records to return (max 1000). When both offset and limit are omitted, the full list is returned
          example: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - architecture:
                    input_modalities:
                    - text
                    instruct_type: chatml
                    modality: text->text
                    output_modalities:
                    - text
                    tokenizer: GPT
                  canonical_slug: openai/gpt-4
                  context_length: 8192
                  created: 1692901234
                  default_parameters: null
                  description: GPT-4 is a large multimodal model that can solve difficult problems with greater accuracy.
                  expiration_date: null
                  id: openai/gpt-4
                  knowledge_cutoff: null
                  links:
                    details: /api/v1/models/openai/gpt-4/endpoints
                  name: GPT-4
                  per_request_limits: null
                  pricing:
                    completion: '0.00006'
                    image: '0'
                    prompt: '0.00003'
                    request: '0'
                  supported_parameters:
                  - temperature
                  - top_p
                  - max_tokens
                  supported_voices: null
                  top_provider:
                    context_length: 8192
                    is_moderated: true
                    max_completion_tokens: 4096
              schema:
                $ref: '#/components/schemas/ModelsListResponse'
          description: Returns a list of models filtered by user provider preferences
        '401':
          content:
            application/json:
              example:
                error:
                  code: 401
                  message: Missing Authentication header
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized - Authentication required or invalid credentials
        '403':
          content:
            application/json:
              example:
                error:
                  code: 403
                  message: Only management keys can perform this operation
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden - Authentication successful but insufficient permissions
        '404':
          content:
            application/json:
              example:
                error:
                  code: 404
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found - Resource does not exist
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      security:
      - bearer: []
      summary: List models filtered by user provider preferences, privacy settings, and guardrails
      tags:
      - Models
      x-speakeasy-name-override: listForUser
      x-speakeasy-pagination:
        inputs:
        - in: parameters
          name: offset
          type: offset
        - in: parameters
          name: limit
          type: limit
        outputs:
          results: $.data
        type: offsetLimit
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /providers:
    get:
      operationId: listProviders
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - datacenters:
                  - US
                  - IE
                  headquarters: US
                  name: OpenAI
                  privacy_policy_url: https://openai.com/privacy
                  slug: openai
                  status_page_url: https://status.openai.com
                  terms_of_service_url: https://openai.com/terms
              schema:
                example:
                  data:
                  - datacenters:
                    - US
                    - IE
                    headquarters: US
                    name: OpenAI
                    privacy_policy_url: https://openai.com/privacy
                    slug: openai
                    status_page_url: https://status.openai.com
                    terms_of_service_url: https://openai.com/terms
                properties:
                  data:
                    items:
                      example:
                        datacenters:
                        - US
                        - IE
                        headquarters: US
                        name: OpenAI
                        privacy_policy_url: https://openai.com/privacy
                        slug: openai
                        status_page_url: https://status.openai.com
                        terms_of_service_url: https://openai.com/terms
                      properties:
                        datacenters:
                          description: ISO 3166-1 Alpha-2 country codes of the provider datacenter locations
                          example:
                          - US
                          - IE
                          items:
                            enum:
                            - AD
                            - AE
                            - AF
                            - AG
                            - AI
                            - AL
                            - AM
                            - AO
                            - AQ
                            - AR
                            - AS
                            - AT
                            - AU
                            - AW
                            - AX
                            - AZ
                            - BA
                            - BB
                            - BD
                            - BE
                            - BF
                            - BG
                            - BH
                            - BI
                            - BJ
                            - BL
                            - BM
                            - BN
                            - BO
                            - BQ
                            - BR
                            - BS
                            - BT
                            - BV
                            - BW
                            - BY
                            - BZ
                            - CA
                            - CC
                            - CD
                            - CF
                            - CG
                            - CH
                            - CI
                            - CK
                            - CL
                            - CM
                            - CN
                            - CO
                            - CR
                            - CU
                            - CV
                            - CW
                            - CX
                            - CY
                            - CZ
                            - DE
                            - DJ
                            - DK
                            - DM
                            - DO
                            - DZ
                            - EC
                            - EE
                            - EG
                            - EH
                            - ER
                            - ES
                            - ET
                            - FI
                            - FJ
                            - FK
                            - FM
                            - FO
                            - FR
                            - GA
                            - GB
                            - GD
                            - GE
                            - GF
                            - GG
                            - GH
                            - GI
                            - GL
                            - GM
                            - GN
                            - GP
                            - GQ
                            - GR
                            - GS
                            - GT
                            - GU
                            - GW
                            - GY
                            - HK
                            - HM
                            - HN
                            - HR
                            - HT
                            - HU
                            - ID
                            - IE
                            - IL
                            - IM
                            - IN
                            - IO
                            - IQ
                            - IR
                            - IS
                            - IT
                            - JE
                            - JM
                            - JO
                            - JP
                            - KE
                            - KG
                            - KH
                            - KI
                            - KM
                            - KN
                            - KP
                            - KR
                            - KW
                            - KY
                            - KZ
                            - LA
                            - LB
                            - LC
                            - LI
                            - LK
                            - LR
                            - LS
                            - LT
                            - LU
                            - LV
                            - LY
                            - MA
                            - MC
                            - MD
                            - ME
                            - MF
                            - MG
                            - MH
                            - MK
                            - ML
                            - MM
                            - MN
                            - MO
                            - MP
                            - MQ
                            - MR
                            - MS
                            - MT
                            - MU
                            - MV
                            - MW
                            - MX
                            - MY
                            - MZ
                            - NA
                            - NC
                            - NE
                            - NF
                            - NG
                            - NI
                            - NL
                            - 'NO'
                            - NP
                            - NR
                            - NU
                            - NZ
                            - OM
                            - PA
                            - PE
                            - PF
                            - PG
                            - PH
                            - PK
                            - PL
                            - PM
                            - PN
                            - PR
                            - PS
                            - PT
                            - PW
                            - PY
                            - QA
                            - RE
                            - RO
                            - RS
                            - RU
                            - RW
                            - SA
                            - SB
                            - SC
                            - SD
                            - SE
                            - SG
                            - SH
                            - SI
                            - SJ
                            - SK
                            - SL
                            - SM
                            - SN
                            - SO
                            - SR
                            - SS
                            - ST
                            - SV
                            - SX
                            - SY
                            - SZ
                            - TC
                            - TD
                            - TF
                            - TG
                            - TH
                            - TJ
                            - TK
                            - TL
                            - TM
                            - TN
                            - TO
                            - TR
                            - TT
                            - TV
                            - TW
                            - TZ
                            - UA
                            - UG
                            - UM
                            - US
                            - UY
                            - UZ
                            - VA
                            - VC
                            - VE
                            - VG
                            - VI
                            - VN
                            - VU
                            - WF
                            - WS
                            - YE
                            - YT
                            - ZA
                            - ZM
                            - ZW
                            type: string
                            x-speakeasy-unknown-values: allow
                          type:
                          - array
                          - 'null'
                        headquarters:
                          description: ISO 3166-1 Alpha-2 country code of the provider headquarters
                          enum:
                          - AD
                          - AE
                          - AF
                          - AG
                          - AI
                          - AL
                          - AM
                          - AO
                          - AQ
                          - AR
                          - AS
                          - AT
                          - AU
                          - AW
                          - AX
                          - AZ
                          - BA
                          - BB
                          - BD
                          - BE
                          - BF
                          - BG
                          - BH
                          - BI
                          - BJ
                          - BL
                          - BM
                          - BN
                          - BO
                          - BQ
                          - BR
                          - BS
                          - BT
                          - BV
                          - BW
                          - BY
                          - BZ
                          - CA
                          - CC
                          - CD
                          - CF
                          - CG
                          - CH
                          - CI
                          - CK
                          - CL
                          - CM
                          - CN
                          - CO
                          - CR
                          - CU
                          - CV
                          - CW
                          - CX
                          - CY
                          - CZ
                          - DE
                          - DJ
                          - DK
                          - DM
                          - DO
                          - DZ
                          - EC
                          - EE
                          - EG
                          - EH
                          - ER
                          - ES
                          - ET
                          - FI
                          - FJ
                          - FK
                          - FM
                          - FO
                          - FR
                          - GA
                          - GB
                          - GD
                          - GE
                          - GF
                          - GG
                          - GH
                          - GI
                          - GL
                          - GM
                          - GN
                          - GP
                          - GQ
                          - GR
                          - GS
                          - GT
                          - GU
                          - GW
                          - GY
                          - HK
                          - HM
                          - HN
                          - HR
                          - HT
                          - HU
                          - ID
                          - IE
                          - IL
                          - IM
                          - IN
                          - IO
                          - IQ
                          - IR
                          - IS
                          - IT
                          - JE
                          - JM
                          - JO
                          - JP
                          - KE
                          - KG
                          - KH
                          - KI
                          - KM
                          - KN
                          - KP
                          - KR
                          - KW
                          - KY
                          - KZ
                          - LA
                          - LB
                          - LC
                          - LI
                          - LK
                          - LR
                          - LS
                          - LT
                          - LU
                          - LV
                          - LY
                          - MA
                          - MC
                          - MD
                          - ME
                          - MF
                          - MG
                          - MH
                          - MK
                          - ML
                          - MM
                          - MN
                          - MO
                          - MP
                          - MQ
                          - MR
                          - MS
                          - MT
                          - MU
                          - MV
                          - MW
                          - MX
                          - MY
                          - MZ
                          - NA
                          - NC
                          - NE
                          - NF
                          - NG
                          - NI
                          - NL
                          - 'NO'
                          - NP
                          - NR
                          - NU
                          - NZ
                          - OM
                          - PA
                          - PE
                          - PF
                          - PG
                          - PH
                          - PK
                          - PL
                          - PM
                          - PN
                          - PR
                          - PS
                          - PT
                          - PW
                          - PY
                          - QA
                          - RE
                          - RO
                          - RS
                          - RU
                          - RW
                          - SA
                          - SB
                          - SC
                          - SD
                          - SE
                          - SG
                          - SH
                          - SI
                          - SJ
                          - SK
                          - SL
                          - SM
                          - SN
                          - SO
                          - SR
                          - SS
                          - ST
                          - SV
                          - SX
                          - SY
                          - SZ
                          - TC
                          - TD
                          - TF
                          - TG
                          - TH
                          - TJ
                          - TK
                          - TL
                          - TM
                          - TN
                          - TO
                          - TR
                          - TT
                          - TV
                          - TW
                          - TZ
                          - UA
                          - UG
                          - UM
                          - US
                          - UY
                          - UZ
                          - VA
                          - VC
                          - VE
                          - VG
                          - VI
                          - VN
                          - VU
                          - WF
                          - WS
                          - YE
                          - YT
                          - ZA
                          - ZM
                          - ZW
                          - null
                          example: US
                          type:
                          - string
                          - 'null'
                          x-speakeasy-unknown-values: allow
                        name:
                          description: Display name of the provider
                          example: OpenAI
                          type: string
                        privacy_policy_url:
                          description: URL to the provider's privacy policy
                          example: https://openai.com/privacy
                          type:
                          - string
                          - 'null'
                        slug:
                          description: URL-friendly identifier for the provider
                          example: openai
                          type: string
                        status_page_url:
                          description: URL to the provider's status page
                          example: https://status.openai.com
                          type:
                          - string
                          - 'null'
                        terms_of_service_url:
                          description: URL to the provider's terms of service
                          example: https://openai.com/terms
                          type:
                          - string
                          - 'null'
                      required:
                      - name
                      - slug
                      - privacy_policy_url
                      type: object
                    type: array
                required:
                - data
                type: object
          description: Returns a list of providers
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
                  message: Internal Server Error
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
          description: Internal Server Error - Unexpected server error
      summary: List all providers
      tags:
      - Providers
      x-speakeasy-name-override: list
    parameters:
    - $ref: '#/components/parameters/AppIdentifier'
    - $ref: '#/components/parameters/AppDisplayName'
    - $ref: '#/components/parameters/AppCategories'
  /workspaces:
    get:
      description: List all workspaces for the authenticated user. [Management key](/docs/guides/overview/auth/management-api-keys) required.
      operationId: listWorkspaces
      parameters:
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: Number of records to skip for pagination
          example: 0
          minimum: 0
          type:
          - integer
          - 'null'
      - description: Maximum number of records to return (max 100)
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: Maximum number of records to return (max 100)
          example: 50
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created_at: '2025-08-24T10:30:00Z'
                  created_by: user_abc123
                  default_guardrail_id: 595d5849-7e86-51fd-a7c0-705c34e4afff
                  default_image_model: openai/dall-e-3
                  default_provider_sort: price
                  default_text_model: openai/gpt-4o
                  description: Production environment workspace
                  id: 550e8400-e29b-41d4-a716-446655440000
                  include_byok_in_budgets: false
                  io_logging_api_key_ids: null
                  io_logging_sampling_rate: 1
                  is_data_discount_logging_enabled: true
                  is_observability_broadcast_enabled: false
                  is_observability_io_logging_enabled: false
                  name: Production
                  slug: production
                  updated_at: '2025-08-24T15:45:00Z'
                total_count: 1
              schema:
                $ref: '#/components/schemas/ListWorkspacesResponse'
          description: List of workspaces
        '401':
          content:
            application/json:
              example:
                error:
                  code: 401
                  message: Missing Authentication header
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized - Authentication required or invalid credentials
        '500':
          content:
            application/json:
              example:
                error:
                  code: 500
[...]
