{{- if lookPath "fnm" -}}
{{ include "dot_config/kilo/rules/.template-resources/fnm_installed.md" -}}
{{- else -}}
{{ include "dot_config/kilo/rules/.template-resources/fnm_not-installed.md" -}}
{{- end -}}
